<alert></alert>
<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
<div class="table100 ver2 m-b-110">
  <div class="table100-head">
      <table>
          <thead>
              <tr class="row100 head">
                  <th class="cell100 column1">User Id</th>
                  <th class="cell100 column2">Username</th>
                  <th class="cell100 column3">Role</th>
                  <th class="cell100 column4">Method</th>
              </tr>
          </thead>
      </table>
  </div>

  <div class="table100-body js-pscroll">
      <table>
          <tbody>
            <tr class="row100 body" *ngFor="let user of users">
              <td class="cell100 column1">{{user.id}}</td>
              <td class="cell100 column2">{{user.username}}</td>
              <td class="cell100 column3">{{user.roles}}</td>
              <td class="cell100 column4"><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
</div>
</div>
</div>