<alert></alert>
<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
<div class="table100 ver2 m-b-110">
  <div class="table100-head">
      <table>
          <thead>
              <tr class="row100 head">
                  <th class="cell100 column1">User Id</th>
                  <th class="cell100 column2">Amount($)</th>
                  <th class="cell100 column3">Time</th>
                  <th class="cell100 column4">Method</th>
                  <th class="cell100 column5">Method</th>
              </tr>
          </thead>
      </table>
  </div>

  <div class="table100-body js-pscroll">
      <table>
          <tbody>
              <tr class="row100 body" *ngFor="let pay of payments">
                <td class="cell100 column1">{{pay.userId}}</td>
                <td class="cell100 column2">{{pay.amount}}</td>
                <td class="cell100 column3">{{pay.time}}</td>
                <td class="cell100 column4">{{pay.method}}</td>
                <td class="cell100 column5"><button class="btn btn-danger" (click)="deletePayment(pay)"> Delete Payment</button></td>
                </tr>
          </tbody>
      </table>
  </div>
</div>
</div>
</div>
</div>